<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.onetarget.onetargetdemo2">
    <!-- 连接网络使用 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 挂载sd卡 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 外部存储设备读写 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 在SDCard读取数据的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 监听网络情况 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 监控WIFI -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 监听手机来电状态需要的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="com.onetarget.common.mvp.QuickApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/YtAppStyle">
        <activity
            android:name="com.onetarget.onetargetdemo2.ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/YtAppStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".ui.permission.PermissionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".ui.transucent.TransucentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".ui.leakcanary.LeakcanaryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".ui.constraintlayout.ConstrainLayoutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".ui.navigationbar.BottonNavigationBarActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".ui.filedownload.FileDownloadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
    </application>

</manifest>